
* {
    margin: 0;
    padding: 0;
}

html {
    height:100%;
    font-size: 10px;
   margin-bottom: auto;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-weight: 800;
    letter-spacing: 0.225em;
    text-transform: uppercase;
}

h2, h3 {
    font-weight: 800;
    letter-spacing: 0.225em;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
    text-align: center;
}

p {    
    margin: 0 0 2rem 0;
    text-align: center;
}

i {
    padding-bottom: 2px;
}

hr {
    border: hidden;
}

header {
    position: absolute;
}

.section2{
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}



/*=========================================
           Global Class 
=========================================*/
.container {
    margin: 0 auto;
    padding: 0 2.4rem;
    
}

.btn {
    padding: 1.6rem 3.2rem;
    border-radius: 4px;
}

.cta-btn {
    display: inline-block;
    margin-top: 2.4rem;
    background-color: #333;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.6);
    text-transform: capitalize;
    font-size: 20px;
}

.cta-btn:hover {
    background-color: #0e0d0d;
    color: #ffffff;
    transition: all 0.5s;
}
/*=========================================
          Responsive Navbar
=========================================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.navbar-brand {
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: #222222;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.5s;
    font-size: 2.4rem;
}

.nav-link:hover {
    border-bottom: 3px solid #ffffff;
}

.active {
    font-weight: 700;
    border-bottom: 3px solid #ffffff;
}

.open .nav-list {
    transform: translateX(0);
}

.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.hamburger {
    width: 2.4rem;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
    transition: all 0.7s ease-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
}

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}
/* =========================================
        Menu Toggle Animation
=========================================*/
.open .hamburger {
    background: transparent;
}

.open .hamburger::before {
    transform-origin: (0, 0);
    transform: rotate(45deg);
}

.open .hamburger::after {
    transform-origin: (0, 0);
    transform: rotate(-45deg);
}
/*=========================================
    Nav Buttom
=========================================*/
#navbutton {
    position: fixed;
    bottom: 10%;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 8px 10px;
    line-height: 1.2;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.6);
    border: 1px solid rgba(0,0,0,.15);
    border-right: 0;
    font-size: 20px;
    cursor: pointer;
}



#navbuttom a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbuttom a:hover {
  background: #eeeeee;
  color: black;
    transition: all .8s ease-out;
}

/*=========================================
    Hero Section 
=========================================*/

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../hero-bg.jpg") center no-repeat; */
    background: url(../cover.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-heading {
    font-size: 3.2rem;
    font-family: 'Goldman', cursive;
}

.hero-description {
    font-size: 1.4rem;
    color: #eeeeee;
    margin-top: 1.6rem;
    text-align: center;
}

/*=========================================
       Map Location
=========================================*/

.wrapper {
        text-align: center;
        background: #2e3842;;
        /* background-image: linear-gradient(60deg, #4dac71 50%, #3ba666 50%); */
}

.wrapper.style3 {
    padding: 3em 0;
    color: #d3d4e4;
}


/*=========================================
       Services
==========================================*/

#two {
        background: #2e3842;
        padding: 3em 0;
}

.spotlight {
	align-items: center;
    display: flex;
    padding: 1%;
    
}

.spotlight:nth-child(1n) {
    background-color: rgba(0, 0, 0, 0.45);
    border: solid 4px;
border-color: #2e3842;
    opacity: 1; 
    transition: 400ms;
}

.spotlight:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.45);
	flex-direction: row-reverse;
}

.spotlight:nth-child(3n) {
    background-color: rgba(0, 0, 0, 0.45);
}


		.spotlight .image {
            opacity: 1;
            transition: 400ms;
			order: 1;
			border-radius: 0;
			width: 40%;
		}

			.spotlight .image img {
                box-shadow: 10px 10px 30px 0 #000000;
				border-radius: 0;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
			}

		.spotlight .content {
			padding: 2em 4em 0.1em 4em ;
			order: 2;
			max-width: 48em;
			width: 60%;
		}
/*=========================================
       Quality Box
=========================================*/

.qualitybox {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1f; */
    align-content: center;
    justify-items: center;
    grid-gap: 20px;
}

.qualitybox li {
    padding: 2em 2em 2em 2em;
    text-align: center;
    width: 50%;
    border-radius: 4px;
    list-style: none;
}

.zone {
   width: 50px;
    text-align: center;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.blue{
    background: #7abcff; /* Old browsers */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

.qualitybox li:nth-child(1) {
    border-top-left-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);

}

.qualitybox li:nth-child(2) {
    border-top-left-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);
}

.qualitybox li:nth-child(3) {
    border-top-left-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);
}

.qualitybox li:nth-child(4) {
    border-top-left-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);
}

.qualitybox li:nth-child(5) {
    border-top-left-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);
}

.qualitybox li:nth-child(6) {
    border-top-left-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);
}

/*=========================================
       Testimonials
=========================================*/

.wrapper {
  padding: 6rem 0 6rem 0 ;
}
 

.inner {
margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
}

.wrapper inner p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.testimonials {
    box-sizing: inherit;
    display: flex;
    justify-content: center;
}
.testimonials .content {
    border-radius: 4px;
    height: 100%;
}

blockquote {
    border-left: solid 0.5rem;
    font-style: italic;
    margin: 0 0 2rem 0;
}

.testimonials .content {
    background-color:rgba(0, 0, 0, 0.45);
    
    border-radius: 4px;
    padding: 10px;
}

.testimonials .content .author .image img {
    border-radius: 100%;
    max-width: 33%;
}

.testimonials .content p {
    font-size: 1.5rem;
}

/*=========================================
      BMI Calculator
=========================================*/

.zone2 {
    text-align: center;
    padding: 25px;
}

.zone:hover2 {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.black {
    background: url(../cover2.png); 
    background-size: cover;
    background-repeat: no-repeat;
    /*background: rgba(0, 20, 20, 98);*/
}

.verify {
    background-color: #333;
    color: #fff;
    padding: 8px 10px;
    line-height: 1.2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.6);
    border: 1px solid rgba(0,0,0,.15);
    border-right: 0;
    font-size: 20px;
    cursor: pointer;
}

.verify:hover {
    background-color: #0e0d0d;
    color: #ffffff;
    transition: all 0.5s;
}

.insert {
    background-color: #333;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgba(0,0,0,.15);
    border-right: 0;
}


/*=========================================
       Footer
=========================================*/
footer {
    padding: 6rem 0 4rem 0;
    background-color: #1d242a;
    text-align: center;
}

footer .icons {
    font-size: 1.25em;
    display: flex;
    justify-content: space-around;
    width: 15%;
    padding-left: 44%;
    list-style: none;
    height: 4rem;
}

footer .icons a {
	color: rgba(255, 255, 255, 0.5);
}

footer .icons a:hover {
	color: #fff;
}

footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
	letter-spacing: 0.225em;
	list-style: none;
	padding: 0;
	text-transform: uppercase;
}

footer .copyright li {
	border-left: solid 1px rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
}

footer .copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

footer .copyright li a {
	color: inherit;
}

footer .copyright li a:hover {
	color: #fff;
}
                    

/*=========================================
       Media Queries : Mobile / Tablet
=========================================*/
@media screen and (max-width: 768px) {

    #navbutton {
        font-size: 12px;
    }

    .spotlight:nth-child(1n) {
        flex-direction: column;
    }

    .spotlight:nth-child(2n) {
        flex-direction: column;
    }

    .spotlight:nth-child(3n) {
        flex-direction: column;
    }

    .spotlight .image {
        width: 90%;
    }

    .qualitybox {
        display: grid;
        grid-template-columns: none;
        justify-items: center;
        grid-gap: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .qualitybox li {
        padding: 2em 2em 0 4rem;
        text-align: center;
        width: 70%;
        border-radius: 3px;
        list-style: none;
    }
    .zone2 {
        padding: 10px;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
    }

    .insert {
        padding: 0px 0px;
    }

    footer .icons {
        justify-content: space-between;
        width: 40%;
        padding-left: 35%;
        height: 4rem;
    }
}

